/*
* === RESET ===
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
}

img, picture {
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {cursor: pointer;}

/*
* === UTILITIES ===
*/

/* layout */

/*
* === TYPOGRAPHY ===
*/

body {
    font-family: "Newsreader", serif;
    line-height: 140%;
    /* color:  */
}

.heading-1 {
    font-size: 2rem;
    line-height: 110%;
    font-style: bold;
}

.heading-2 {
    font-size: 1.75rem;
    line-height: 110%;
    font-style: italic;
    font-weight: 300;
}

.heading-3 {
    font-size: 1rem;
    width: fit-content;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    background-color: rgb(206, 184, 228);
    padding-top: 4px;
}


.p--big {
    font-size: 2rem;
    line-height: 110%;
}