:root {
    /*colors*/
    --black: #3E3E3E;
    --white: #FAFAF9;
    --gray: #F3F1EF;

    --blue-100: #DBDBF9;


    --text-dark: var(--black);
    --text-light: var(--white);

    --bg-dark: var(--black);
    --bg-light: var(--white);
    --bg-medium: var(--gray);

    /*sizes*/
    --size-xs: 0.5rem;
    --size-s: 1rem;
}


/*
* === RESET ===
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
}

img, picture {
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button, summary {cursor: pointer;}


/*
* === TYPOGRAPHY ===
*/

.heading-1 {
    font-size: 2rem;
    line-height: 110%;
    font-style: bold;
}

.heading-2 {
    font-size: 1.75rem;
    line-height: 110%;
    font-style: italic;
    font-weight: 300;
}

.heading-3 {
    font-size: 0.85rem;
    width: fit-content;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--blue-100);
    padding-top: 4px;
}

.p--big {
    font-size: 1.6rem;
    line-height: 110%;
}

/*
* === UTILITIES ===
*/

/* .m--center {margin: 0px auto;} */

.m--center{margin: 0 auto;}

.flex {display: flex;}

.stack--xs > * + * { margin-block-start: var(--size-xs);}
.stack--s > * + * { margin-block-start: var(--size-s);}

@media (min-width: 700px) {

    .flex--desk {display: flex;}
    .justify--space-between--desk {justify-content: space-between;}
    .justify--center--desk {justify-content: center;}

    .items--center--desk {align-items: center;}
    .reverse--desk {flex-direction: row-reverse;}

    .flex--desk > * + * { margin-block-start: 0;}
}


/*
* === LAYOUT ===
*/

body {
    font-family: "Newsreader", serif;
    line-height: 140%;
    color: var(--text-dark);
    background-color: var(--bg-light);
}

header {
    padding: 1rem;
    position:sticky;
    top:0;
    background-color: var(--bg-light);
}

main {
    padding: 1rem
}


/* — navi — */

.menu-title {
    width: fit-content;
}

.menu-title:hover {
    background-color: var(--bg-medium);
    text-decoration: underline;
}

nav {
    padding: 1rem 1.5rem;
    border: 1px solid var(--black);
    background-color: var(--bg-light);
    position: absolute;
    min-width: 200px;  
    width: fit-content;
}

@media (min-width: 700px) {
    .menu-container {
        position: absolute;
        left: 1rem;
    }
}



/*
* === COMPONENTS ==
*/

/* — buttons & links — */

button {
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 2rem;
    min-width: 2rem;
    padding: 0 8px;
    border: transparent;
    color: var(--text-light);
    background-color: var(--bg-dark);
}

a {
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 2rem;
    width: fit-content;
    min-width: 4rem;
    padding: 0 4px;
    text-decoration: none;
    color: var(--text-dark);
}

button:hover, a:hover {
    text-decoration: underline;
}

a:hover {
    background-color: var(--bg-medium);
}

.a--active {
    text-decoration: underline;
}

/* — accordion — */

summary {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
    min-height: 2rem;
}
summary::-webkit-details-marker {
  display: none;
}

details[open] summary svg {
  transform: rotate(90deg);
}

.accordion::before {
  content:'';
  position: absolute;
  background-color: var(--text-dark);
  width: 0%;
  height: 0.5px;
  bottom: 0;
  left:4px;
  transition: 200ms ease-in;
}

.accordion:hover::before {
  width: 100%;
}




.img-hover-test {
    width: 400px;
    height: 400px;
    background-image: url("../graphics/photo1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}


.link2:hover ~ .img-hover-test {
    background-image: url("../graphics/photo2.jpg");
}

.link1:hover ~ .img-hover-test {
    background-image: url("../graphics/photo3.jpg");
}


/* .ch1, .ch2, .ch3, .ch4, .ch5 {width: fit-content;} */
.map-container {
    width: fit-content;
}

.map-container::after{
    position: absolute; 
    width: 0;
    overflow: hidden;
    z-index: -1;
    content: 
        url("../graphics/map/ch1.png")
        url("../graphics/map/ch2.png")
        url("../graphics/map/ch3.png")
        url("../graphics/map/ch4.png")
        url("../graphics/map/ch5.png");
}

.map {
    width: 400px;
    height: 400px;
    background-image: url("../graphics/map/base.png");
    background-size: contain;
    background-repeat: no-repeat;

}

@media (min-width: 700px) {
    .map {
        position: relative;
        top: -250px;
        left: 250px;
        z-index: -1;
    }

    .map-container {
        margin: 0 auto;
    }
}

.ch1:hover ~ .map {
    background-image: url("../graphics/map/ch1.png");
}

.ch2:hover ~ .map {
    background-image: url("../graphics/map/ch2.png");
}

.ch3:hover ~ .map {
    background-image: url("../graphics/map/ch3.png");
}

.ch4:hover ~ .map {
    background-image: url("../graphics/map/ch4.png");
}

.ch5:hover ~ .map {
    background-image: url("../graphics/map/ch5.png");
}